<article>
  <a href='/dashboard'> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class='edit-post-form'>

    <div>
      <label for='post-title'>Title</label>
      <input type='text' id='post-title' name='post-title' />
    </div>
    <div>
      <label for='post-content'>Text</label>
      <input id='post-content' name='post-content' />
    </div>
    <div>
      <a href='/post/{{post.id}}'></a>
    </div>
    <button type='submit'>Save post</button>
    <button type='button' class='delete-post-btn'>Delete post</button>
  </form>
</article>
<script src='/javascript/edit-post.js'></script>
<script src='/javascript/delete-post.js'></script>
<script src='/javascript/comment.js'></script>